.familyForm {
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 200px auto 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.headerH1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    color: #964B00;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.familyNicknameContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.familyNicknameContainer input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.familyPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.familyPhotoInput {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    border: 2px solid #2f0096;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.familyPhotoInput:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.defaultIcon {
    width: 60%;
    height: 60%;
    object-fit: contain;
}


.defaultIcon {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.members {
    margin-bottom: 20px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #b8dff5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member p {
    margin: 0;
    font-weight: bold;
    color: #555;
}

.member input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member input[type="text"]:focus {
    border-color: #964B00;
    outline: none;
}

.addMemberBtn, .submitBtn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addMemberBtn {
    background-color: #ff8000;
}

.addMemberBtn:hover {
    background-color: #d75200;
}

.submitBtn {
    background-color: #4caf50;
    margin-top: 10px;
}

.submitBtn:hover {
    background-color: #388e3c;
}
.member {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.member .role {
    margin-right: 10px;
}

.member .name {
    flex-grow: 1;
}
