.familyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 0;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #2c3e50;
  text-align: center;
  margin: 30px 0;
}

.familyPhotoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.familyPhotoInput {
  border: 2px solid #16a085;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px;
  margin-top: 30px;
  object-fit: cover;
}

.headerH1{
  font-size: 24px;
  font-family: 'Lora', serif;
  color: #003d03;
  white-space: nowrap;
  margin: 10px 0;
}
.header{
  font-size: 24px;
  font-family: 'Lora', serif;
  color: #003d03;
  white-space: nowrap;
}

.nicknameTitle {
  font-size: 20px;
  color: #34495e;
  text-align: center;
}

.nickname {
  font-size: 22px;
  color: #16a085;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}


.membersTable {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.membersTable th,
.membersTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 0.9rem;
}

.membersTable th {
  background-color: #f0f9f0;
  color: #333;
  font-weight: bold;
}

.membersTable tr:nth-child(even) {
  background-color: #f2ffe5;
}

.membersTable tr:hover {
  background-color: #e0f7dc;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.saveBtn {
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 125px 80px;
}

.saveBtn:hover {
  background-color: #005f50;
  transform: scale(1.05);
}

.saveBtn:active {
  transform: scale(0.95);
}

.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #e93c3c;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

.deleteBtn:hover {
  color: #be5a4f;
}
.editBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(122, 122, 255);
  font-size: 1.5rem;
  margin-left: 10px;
  transition: color 0.3s;
}

.editBtn:hover {
  color: rgb(61, 61, 132);
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.modalContent {
  background: #f2ffe5;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  min-width: 300px;
  height: auto;
  max-height: 90vh;
  position: relative;
  overflow-y: auto;
}

.modalContent::-webkit-scrollbar {
  width: 16px;
}

.modalContent::-webkit-scrollbar-track {
  background: #c9ffbb;
  border-radius: 8px;
}

.modalContent::-webkit-scrollbar-thumb {
  background: #c9ffbb;
  border-radius: 10px;
  min-height: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.modalContent::-webkit-scrollbar-thumb:hover {
  background: #7bd67e;
}

@keyframes modalFadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #e74c3c;
}

.fileInput {
  margin: 10px 0;
}

.fileInputInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInputLabel {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 10px 12px;
  background-color: #00796b;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.fileInputLabel svg {
  height: 16px;
  margin-right: 4px;
}

.inputApodo {
  margin: 0.5em 0;
  padding: 0.75em;
  border-radius: 8px;
  border: 1px solid#00796b;
  background-color: #f0f9f0;
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputApodo:focus {
  box-shadow: 0 0 8px rgba(106, 176, 74, 0.5);
  outline: none;
}

.inputApodo::placeholder {
  color: #8D8D8D;
  font-style: italic;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  background: #f0f9f0;
  padding: 0 0.5em;
  color: #333;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.select select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #00796b;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  color: #ffffff;
}

.select:hover::after {
  color: #000000;
}

.option {
  color: black;
}

.inputsNameAge,
.select {
  margin: 0.5em 0;
  padding: 0.75em;
  border-radius: 8px;
  border: 1px solid #00796b;
  background-color: #f0f9f0;
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputsNameAge:focus,
.select:focus {
  border-color: #005f50;
  box-shadow: 0 0 8px rgba(106, 176, 74, 0.5);
  outline: none;
}

.inputsNameAge::placeholder {
  color: #8D8D8D;
  font-style: italic;
}

.select {
  background-repeat: no-repeat;
  background-position: right 10px center;
  appearance: none;
}

.membersTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#D0FECF ;
  padding: 10px;
  font-size: 16px;
  color: #2c3e50;
  text-align: center;
  border-radius: 4px;
}
 
  .members{
  text-align: center;
  border: 1px solid #003d03;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto 10px;
}

.members > *:nth-child(even) {
  background-color: #f0f0f0; 
}

.member {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.saveBtn, .addBtn {
  margin: 0;
}

.spanDlt,
.spanEdit {
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #e74c3c;
}

.spanDlt:hover {
  color: #00796b;
}

.spanEdit:hover {
  color: #3498db;
}
