.container {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: auto;
  margin: auto;
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.submitButton {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 16px;
}

.submitButton:hover {
  background-color: #45a049;
}

.listaVisitas {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.visitaItem {
  margin-top: 30px;
  background-color: #4caf50;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 4px;
}

.visitaItem span {
  margin-right: 10px;
}

.deleteButton {
  width: 24px;
  height: 24px;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.backButton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 3000;
  font-size: xx-large;
  font-weight: bolder;
}

.backButton:hover {
  background-color: #45a049;
}
