@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

.container {
  font-family: 'Lora', serif;
  max-width: 600px;
  padding: 30px;
  border: 2px solid rgba(204, 204, 204, 0.8); /* Translucido */
  border-radius: 12px;
  background-color: rgba(242, 247, 245, 0.7); /* Translucido */
  height: auto;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.9); /* Translucido */
  font-size: 28px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.9); /* Translucido */
}

.input {
  padding: 12px;
  border: 2px solid rgba(204, 204, 204, 0.8); /* Translucido */
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.9); /* Translucido */
}

.submitButton {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background-color: #00796b; /* Translucido */
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #005f50; /* Translucido */
}

.listaVisitas {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.visitaItem {
  margin-top: 20px;
  background-color: rgba(209, 231, 221, 0.9); /* Translucido */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.visitaItem span {
  margin-right: 10px;
  font-weight: 500;
}


.deleteButton {
  width: 28px;
  height: 28px;
  border: none;
  color: #e93c3c;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.deleteButton:hover {
  color: rgba(211, 47, 47, 0.9); /* Color más oscuro al pasar el ratón */
}

.editButton {
  background: none;
  border: none;
  color: rgb(122, 122, 255);
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s ease;
}

.editButton:hover {
  color: rgb(61, 61, 132);
}
.editButton, .deleteButton {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 1px;
}
