.footer {
  background: #d6ffc6;
  color: #333;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contactInfo, .siteLinks, .newsletter, .socialMedia {
  flex: 1;
  margin: 0 20px;
}

.contactInfo h3, .siteLinks h3, .newsletter h3, .socialMedia h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #17c61d;
}

.contactInfo p {
  margin: 5px 0;
}

.siteLinks ul {
  list-style: none;
  padding: 0;
}

.siteLinks li {
  margin-bottom: 10px;
}

.siteLinks a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.siteLinks a:hover {
  color: #17c61d;
}


.socialMedia {
  text-align: center;
}

.socialMedia .socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socialMedia .socialIcons a {
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

.socialMedia .socialIcons a:hover {
  color: #17c61d;
}

.footerBottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
