@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.header {
  /*
  position: fixed;
  top: 0;
  left: 0;
  */
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(203, 255, 202, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, padding 0.3s;
  z-index: 1000;
}

.header.scrolled {
  background-color: rgba(203, 255, 202, 0.9); /* Fondo más opaco cuando se hace scroll */
  padding: 5px 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  border-radius: 50%;
}

.title {
  margin-left: 10px;
  font-size: 28px;
  font-family: 'Lora', serif;
  color: #003d03;
  white-space: nowrap;
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.navItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #003d03;
  padding: 10px;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.navItem:hover {
  background-color: rgba(203, 255, 202, 0.3);
  color: #005500;
}

.navText {
  margin-left: 5px;
  font-size: 20px;
  font-family: 'Lora', serif;
}

.icon {
  font-size: 24px;
  color: #003d03;
  margin-right: 8px;
}

.menuToggle {
  display: none;
}

@media (max-width: 768px) {
  .navList {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.9);
    border-left: 1px solid #ddd;
    padding: 30px;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
    opacity: 0;
  }

  .nav.open .navList {
    transform: translateX(0);
    opacity: 1;
  }

  .menuToggle {
    display: block;
    font-size: 20px;
    color: #003d03;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
  }

  .menuToggle:hover {
    background-color: rgba(203, 255, 202, 0.8);
    transform: scale(1.1) translateY(-50%);
  }

  .menuToggle:focus {
    outline: none;
  }

  .header {
    padding: 10px;
  }

  .logoContainer {
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-size: 24px;
    margin-left: 10px;
    white-space: nowrap;
  }

  .nav {
    position: relative;
    width: 100%;
  }
}
.secondaryHeader {
  background-color: #bdf4a8; /* Cambia el color de fondo según tu diseño */
  background: radial-gradient(circle, #e0f7d4 0%, #bdf4a8 60%, #8ccf70 100%);
  padding: 10px 20px; /* Espaciado */
  border-bottom: 2px solid #ccc; /* Línea inferior opcional */
  position: relative; /* Para un mejor control de posición */
  z-index: 1
}

.secondaryNav {
  display: flex;
  justify-content: space-around; /* Distribuye los botones */
  
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'lora';
  padding: 10px;
  position: relative; /* Para la línea activa */
}

.navButton.active {
  background-color: transparent; /* Fondo transparente */
  color: #007700; /* Color del texto */
  border: none;
  border-radius: 10px;
  box-shadow:  0 10px 24px rgba(65, 135, 4, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  
}


