/* Contenedor de cada sección alterna */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
  width: 100%;
}

/* Sección con imagen a la izquierda y texto a la derecha */
.section.textImage {
  flex-direction: row;
  justify-content: space-between;
}

.section.textImage .textBlock {
  flex: 1;
  padding: 0 20px;
  text-align: left;
  max-width: 50%; /* Limita el ancho para que no se desborde */
}

.section.textImage .textBlock p {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  color: #555;
}

.section.textImage .textImageSection {
  flex: 1;
  max-width: 50%; /* Limita el ancho para que no se desborde */
}

.section.textImage .textImageSection img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Sección con imagen a la derecha y texto a la izquierda */
.section.imageText {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.section.imageText .textBlock {
  flex: 1;
  padding: 0 20px;
  text-align: left;
  max-width: 50%; /* Limita el ancho para que no se desborde */
}

.section.imageText .textBlock p {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  color: #555;
}

<<<<<<< HEAD
.image{
  width: auto;
  height: auto;
=======
.section.imageText .textImageSection {
  flex: 1;
  max-width: 50%; /* Limita el ancho para que no se desborde */
>>>>>>> 904e32e27496d462696a92f6c992d0f950c5141d
}

.section.imageText .textImageSection img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Botón CTA */
.ctaButton {
  margin: 60px 0;
  text-align: center;
}

.btn {
  background-color: #00796b;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #004d40;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Contenedor del video */
.videoContainer {
  margin: 100px 0;
  text-align: center;
}

.video {
  width: 100%;
  max-width: 800px; /* Asegúrate de que el video no sea demasiado grande */
  border-radius: 12px;
}