<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutdoorKids</title>
    <link rel="stylesheet" href="Inicio.module.css">
</head>

<body>
    <header>

        <div class="logo">
            <img src="images/Logo.jpg" class="logo">
        </div>

        <span class="text">OutdoorKids</span>

        <nav class="navegacion ocultar">
            <a href="#">Inicio</a>
            <a href="#">Registrate</a>
            <a href="#">Iniciar secion</a>
            <a href="#">Preguntas frequentas</a>
        </nav>

        <div class="hamburguesa">
            <span></span><span></span><span></span>

        </div>
    </header>
    <div class="contenido-header">
        <div class="contenedor-encavezado">
            <video src="images/Video.mp4" autoplay>

            </video>
            
        </div>
    </div>
    <div class="contenedor-nosotros contenedor">
        <div class="texto-nosotros">
            <p class="bienvenido">Bienvenido a </p>
            <h1>OutdoorKids</h1>
            <p>Nuestra misión es inspirar a los niños a disfrutar de la naturaleza
                mientras aprenden la importancia de protegerla. Con nuestro mapa
                interactivo, los pequeños exploradores pueden descubrir parques y
                actividades emocionantes que respetan y protegen el medio ambiente.
                Desde parques para jugar y correr, hasta reservas naturales llenas de animales y plantas asombrosas,
                OutdoorKids ofrece un mundo de aventuras verdes esperando ser descubierto. También pueden compartir sus
                experiencias y recomendaciones, creando una comunidad de jóvenes defensores del planeta.</p>

            <p>Regístrate en OutdoorKids y empieza a explorar un mundo lleno de
                maravillas naturales. Descubre lugares increíbles, participa en
                actividades divertidas. ¡Únete a nosotros y convierte cada día en
                una aventura!</p>
            <a href="#" class="btn btn-rojo">¡Únete!</a>
        </div>
        <div class="imagenes-nosotros">
            <div class="imagen1">
                
                <img src="images/imagen4.jpg" alt="parque infantil">
            </div>

            <div class="imagenes2">
                <img src="images/imagen2.jpg" alt="ninos en aire libre">
                <img src="images/imagen3.jpg" alt="familia en aire libre">
            </div>
        </div>
    </div>

    <script src="inicio.js"></script>
</body>