/* Menú hamburgesa */
.btnCerrar {
  font-size: 25px;
  font-weight: bold;
  color: rgb(6, 6, 79);
  position: absolute;
  top: 20px;
  right: 50px;
  user-select: none;
}

.btnCerrar:hover {
  cursor: pointer;
}

.ocultar {
  display: none;
}

.navegacion a:first-of-type {
  margin-top: 70px;
}

.navegacion a {
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  padding-left: 10px;
  display: block;
  text-align: left;
}

.navegacion a:hover {
  color: brown;
}
.navegacion {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 60px 50px;
  background-color: #c9ffbb;
}
.hamburguesa span {
  background-color: white;
  display: block;
  width: 50px;
  height: 4px;
  margin-bottom: 5px;
}
.hamburguesa:hover {
  cursor: pointer;
}

/* Estilos para el header */
.header {
  background-color: #c9ffbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Estilos para el logo */
.logo {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.text {
  font-size: 60px;
  color: #17c61d;
  text-align: left;
}

/*video*/

/* .video {
  width: 100%;
  height: 70%;
} */

/* Texto explicativo*/
.contenedorNosotros {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  flex-grow: 2;
}

.textoNosotros {
  /* color: white; */
  padding: 0 30px;
}

.bienvenido {
  font-size: 40px;
  color: white;
}

.textoNosotros h1 {
  font-size: 40px;
  color: orange;
  font-weight: bold;
}

.textoNosotrosParrafos {
  font-size: 20px;
  text-align: justify;
}

.img {
  border-radius: 20px;
  min-width: 300px;
  padding: 10px;
}

.imagenesNosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Botón ¡Únete */
.btnRojo {
  text-decoration: none;
  background-color: #ff0000;
  color: white;
  border: solid;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s; /* Suaviza el cambio de color al pasar el ratón */
  display: inline-block;
  margin-top: 30px;
}

.btnRojo:hover {
  background-color: rgb(212, 206, 32);
}

@media only screen and (max-width: 992px) {
  .imagenesNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .img {
    width: 100%;
  }
}
