<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OutdoorKids</title>
<link rel="stylesheet" href="Registro.module.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

    
<header>
    <div class="logo"> 
        <img src="/public/images/Logo.jpg" class="logo">
    </div>
    
        <span class="text">OutdoorKids</span>
        
        <div class="navegacion">
        <button class="btn btnInicio"onclick="location.href='https://www.ejemplo.com'">Inicio</button>
        <button class="btn btnRegistrate"onclick="location.href='https://www.ejemplo.com'">Registrate</button>
        <button class="btn btnIniciarSec"onclick="location.href='https://www.ejemplo.com'">Iniciar secion</button>
        <button class="btn btnPreguntas"onclick="location.href='https://www.ejemplo.com'">Preguntas frecuentes</button>
        </div>
    </nav>
</header>



<body>
   
        <div class="form-container">
            <form action="/registro.php"><form id="formulario-registro">
            <legend>Registrate!</legend><br>
            <label for="nombre">Nombre completo:</label><br>
            <input type="text" id="nombre" name="nombre"required><br>
            <label for="correo">Correo Electronico:</label><br>
            <input type="email" id="correo" name="correo"required><br><br>
            <label for="peque">Nombre del peque:</label><br>
            <input type="text" id="peque" name="peque"><br>
            <label for="edad">Edad:</label><br>
            <input type="number" id="edad" name="edad"><br>
            <label for="password">Contraseña:</label><br>
            <input type="password" id="password" name="password"required><br><br>
            <input type="submit" value="Enviar">
            </form>
        <div class="text-inicio">
            <h3>Ya tienes cuenta?</h3>
            <a href="#">Inicia Seción</a>
        </div>
    </div>
    <div class="card">
        <img src="/public/images/imagenAbajoDeReistro.png">
    </div>
</body>


<footer>
    <div class="simbolos">
        <div class="tiktok-icon">
            <i class="fab fa-tiktok"></i></div>

        <div class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i></div>

        <div class="github-icon">
            <i class="fab fa-github"></i></div>

        <div class="instagram-icon">
            <i class="fab fa-instagram"></i></div>

            <a href="https://www.linkedin.com" 
            class="linkedin-icon"><i class="fab fa-linkedin"></i></a>
    </div>
    <p class="right-text">
        <p class="copyright-text">&copy;OutdoorKids by Esplai 2024 Todos los derechos reservados
    <a href="ola.olga5@mail.ru">OutdoorKids@gmail.com</a></p>
    </span>
  </footer>
</html>