.App {
    background-size: cover;
    padding: 50px;
    min-height: 100vh;
}

.h1 {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2.5em;
    color: #6ab150;
    margin-top: 20px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.userInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.userInputInput {
    border-radius: 25px;
    border: 2px solid #6ab150;
    padding: 10px;
    font-size: 1.2em;
    width: 300px;
}

.userInputButton {
    background-color: #ffeb3b;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.userInputButton:hover {
    background-color: #fdd835;
}

.activitySelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.2em;
}

.activitySelector select {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #6ab150;
    margin-top: 10px;
    font-size: 1em;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.parkList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* cuatro elementos por fila */
    gap: 10px;
    margin-top: 20px;
}

.parkItem {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 85%;
}
.parkItem:hover {
    transform: scale(1.05);
}

.parkImage {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
}

.map {
    width: 70%;
    height: 300px;
    margin-top: 20px;
    border-radius: 15px;
}

/* Modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: rgb(193, 228, 201);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

.modalImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.closeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.closeButton:hover {
    background-color: #d32f2f;
}
