.formContainer {
  margin: 0px auto;
  margin-top: 140px;
  padding: 10px;
  border-radius: 90px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  width: 50%;
  text-align: center;
  font-size: 20px;
}
.card {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.estrellaFamilia,
.estrellaMapa,
.estrellaAgenda {
  position: relative; /* Para que funcione bien el texto sobre la imagen */
}

.contenedorEstrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  width: 100%;
}

.estrellaAgenda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.textoSobreImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(206, 83, 12);
  font-size: 24px;
  font-weight: bold;
  /*z-index: 2;  Asegura que el texto esté por encima */
}

.estrellaFamilia:hover,
.estrellaMapa:hover,
.estrellaAgenda:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.estrellaFamilia:active,
.estrellaMapa:active,
.estrellaAgenda:active {
  transform: scale(0.96); /* Efecto de "presionado" */
}
