/* Estilo general del cuerpo */
.body {

  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Contenedor del formulario */
.formContainer {
  margin-top: 150px;
  margin-bottom: 60px;
  background: white;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Logo */
.logo {
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Títulos y leyendas */
.legend {
  font-size: 24px;
  font-weight: 700;
  color: #00796b;
  margin-bottom: 20px;
}

/* Etiquetas e inputs */
.label {
  font-size: 14px;
  font-weight: 600;
  color: #00796b;
  display: block;
  margin-bottom: 8px;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #00796b;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.input:focus {
  border-color: #004d40;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 77, 64, 0.3);
}

/* Botones */
.btn {
  background-color: #00796b;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background-color: #004d40;
  transform: scale(1.05);
}

/* Enlaces */
.link {
  color: #00796b;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

/* Imagen de abajo */
.cardImage {
  width: 50%;
  border-radius: 12px;
}
