/* Estilo general del cuerpo */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 80px;
  padding: 0 20px; /* Espaciado para vistas móviles */
  font-family: 'Arial', sans-serif;
}

/* Contenedor del formulario (sin borde ni fondo) */
.formContainer {
  width: 100%;
  max-width: 400px;
  text-align: left;
  color: #1c1c1c; /* Color principal del texto */
}

/* Logo centrado */
.logo {
  margin-bottom: 30px;
  text-align: center;
}

/* Títulos */
.legend {
  font-size: 36px;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Georgia', serif; /* Fuente serif */
}

/* Etiquetas de inputs */
.label {
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 10px;
  display: block;
}

/* Estilo de inputs */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #e6e2d9;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border-color: #000;
  outline: none;
}

/* Botón */
.btn {
  background-color: #000;
  color: white;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #333;
}

/* Enlaces */
.link {
  color: #333;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Estilo para el enlace secundario */
.secondary-link {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  display: block;
  color: #666;
}

.secondary-link:hover {
  text-decoration: underline;
}
