.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Fuente similar a la de la imagen */
  color: #003d03;
}


/* Títulos */
.legend {
  font-size: 24px; /* Tamaño ajustado para parecerse más a la imagen */
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  font-family: 'Arial', sans-serif;
}

/* Etiquetas de inputs */
.label {
  font-size: 16px; /* Tamaño ajustado */
  font-weight: normal; /* Menos énfasis para un aspecto más simple */
  margin-bottom: 5px; /* Menos espacio entre etiquetas */
  display: block;
  color: black;
}

/* Estilo de inputs */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #888; /* Solo línea inferior */
  border-radius: 0; /* Sin bordes redondeados */
  font-size: 16px;
  background-color: transparent; /* Fondo igual al cuerpo */
}

.input:focus {
  border-bottom: 1px solid #000; /* Resalta en negro al recibir foco */
  outline: none;
}

/* Botón */
.btn {
  background-color: #00796b; /* Verde oscuro del botón */
  color: white;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 5px; /* Borde más redondeado */
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #005f50; /* Verde más oscuro en hover */
  transform: translateY(-2px);

}

/* Botón mostrar contraseña*/

.formGroup {
  margin-bottom: 15px;
}

.passwordWrapper {
  display: flex;
  align-items: center;
}

.togglePasswordButton {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}

.togglePasswordButton:hover {
  text-decoration: underline;
}

.formGroup input:focus + label,
.formGroup input:not(:focus):valid + label {
  top: -10px; /* Desplazar la etiqueta hacia arriba */
  font-size: 14px; /* Reducir el tamaño de la fuente */
  color: #00796b; /* Cambiar color al enfocar */
}



/* Enlaces */
.link {
  color: #333;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Estilo para el enlace secundario */
.secondary-link {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  display: block;
  color: #666;
}