/* Estilo general del cuerpo */
.body {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Altura mínima para centrar verticalmente */
}

/* Estilo del formulario */
.registerForm {
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 400px; /* Ancho máximo */
}

/* Estilo de los grupos de formulario */
.formGroup {
  margin-bottom: 30px;
  position: relative; /* Para el posicionamiento de la etiqueta */
}

/* Etiquetas e inputs */
.formGroup label {
  font-size: 16px;
  color: #555; /* Color de las etiquetas */
  position: absolute; /* Para permitir el desplazamiento de la etiqueta */
  left: 0;
  top: 10px; /* Posición inicial */
  transition: all 0.3s ease; /* Transición suave */
}

.formGroup input {
  width: 100%;
  padding: 10px 0; /* Solo padding vertical */
  border: none; /* Sin borde */
  border-bottom: 1px solid #ccc; /* Línea debajo */
  background: transparent; /* Sin fondo */
  font-size: 16px;
  color: #333;
  margin-top: 20px; /* Espacio superior para el input */
  transition: border-color 0.3s;
}

.formGroup input:focus {
  outline: none;
  border-bottom: 1px solid #00796b; /* Color de la línea al enfocar */
}

/* Cambiar posición de la etiqueta al enfocar */
.formGroup input:focus + label,
.formGroup input:not(:placeholder-shown) + label {
  top: -10px; /* Desplazar la etiqueta hacia arriba */
  font-size: 14px; /* Reducir el tamaño de la fuente */
  color: #00796b; /* Cambiar color al enfocar */
}

/* Botón de registro */
.registerButton {
  background-color: #00796b; /* Color del botón */
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px; /* Bordes ligeramente redondeados */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
  width: 100%; /* Ancho completo */
  text-transform: uppercase;
}

.registerButton:hover {
  background-color: #005f50; /* Color al pasar el ratón */
}

/* Enlaces */
.loginLink {
  color: #00796b; /* Color del enlace */
  font-size: 14px;
  margin-top: 20px; /* Espacio superior */
  display: block; /* Para asegurarse de que esté en una nueva línea */
}

/* Mensajes de éxito y error */
.success {
  color: green;
  margin-bottom: 15px;
}

.error {
  color: red;
  margin-bottom: 15px;
}